<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Panadería Loma{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- ICONO DE LA PAGINA  -->
        <link rel="shortcut icon" type="image/png" href="assets/img/panaderia.png">

        <!-- EMPIEZAN DIRECCIONES DE LOS CSS -->
        {% block stylesheets %}
        <!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">
	<!-- iconos de bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<!-- CSS DE BOLA FLOTANTE -->
	<link rel="stylesheet" href="assets/css/bola_flotante.css">
	<!-- CSS DEL LOGIN -->
	<link rel="stylesheet" href="assets/css/styles.css" />
        {% endblock %}
        <!-- TERMINAN DIRECCIONES DE LOS CSS -->

    </head>
    <body>
        {% block body %}
        {% endblock %}

		<!-- EMPIEZA DIRECCIONES DE LOS SCRIPTS -->
        {% block javascripts %}
        <!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>
	<!-- BOTON PARA ANIMACION DEL LOGIN JS -->
	<script src="assets/js/script_login.js"></script>
        {% endblock %}
        <!-- TERMINAN DIRECCIONES DE LOS SCRIPTS -->
    </body>
</html>
